html {
}
body {
  color: rgb(54, 18, 18);
  background-color: #f8f7f7;

}
/* */
.divo {
  background-color: #f8f7f7;
}
a {
  text-decoration: none;
}
.main-insta {
  font-size: 5.5rem;
}
.insta {
  color: rgb(54, 18, 18);
}
.main-exp {
  background-color: rgb(255, 255, 255);
  
}