html {
}
body {
  color: rgb(54, 18, 18);
  background-color: #f8f7f7;

}
.divo {
  background-color: #f8f7f7;
}
a {
  text-decoration: none;
}
.bi-instagram {
  font-size: 7rem;
}
.insta {
  color: rgb(54, 18, 18);
}